.updatereviewdiv{
    display: flex;
    flex-direction: column;
        align-items: center;
        padding: 10px 10px 10px 10px;
}

.updatereviewform {
 
      width: 568px;
      padding: 24px;

}

.updatereview_error {
    display: flex;
        flex-direction: column;
        align-items: center;
        color: red;
        padding: 10px 5px 10px 5px;
        font-family: "Monteserrat-SemiBold";
}

.updatereview_header {
    display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 24px 24px 0px;
        border-bottom: 1px solid rgb(235, 235, 235);
        width: 568px;
        font-family: "Monteserrat-SemiBold";
}

.updatereview_text {
    margin-right: 195px;
}

.updatereviewstar {
    border-radius: 5px;
        width: 100%;
        height: 42px;
        box-sizing: border-box;
        margin: 2px 0;
        padding: 10px 10px 10px 10px;
        font-family: "Monteserrat-Regular";
        border: 1px solid black;
}

.updatereviewtext {
    border-radius: 5px;
        width: 100%;
        height: 42px;
        box-sizing: border-box;
        margin: 2px 0;
        padding: 10px 10px 10px 10px;
        font-family: "Monteserrat-Regular";
        border: 1px solid black;
        resize: none;
        overflow: hidden;
}

.updatereview_text:hover {
    overflow-y: scroll;
}

.updatereviewbutton {
    cursor: pointer;
        background-color: rgb(230, 30, 77);
        color: white;
        padding: 10px 10px 10px 10px;
        margin: 2px 0;
        width: 100%;
        height: 42px;
        border-radius: 5px;
        font-family: "Monteserrat-SemiBold";
        font-size: 12pt;
        border: none;
}

.updatereviewbutton:hover {
    opacity: 0.85;
}

.updatereviewbuttonmodal {
    cursor: pointer;
        background-color: rgb(230, 30, 77);
        color: white;
        padding: 10px 10px 10px 10px;
        margin: 2px 0;
        width: 140px;
        height: 42px;
        border-radius: 5px;
        font-family: "Monteserrat-SemiBold";
        font-size: 12pt;
        border: none;
}