.updatespotdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 10px 10px;
}

.updatespotform {
    width: 568px;
    height: 548px;
   padding: 10px 20px 10px 20px;
    overflow-y: scroll;
          
}

.updatespot_error {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: red;
    padding: 0px 5px 10px 5px;
    font-family: "Monteserrat-SemiBold";
}

.updatespot_header {
    display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 24px 24px 0px;
        border-bottom: 1px solid rgb(235, 235, 235);
        width: 568px;
        font-family: "Monteserrat-SemiBold";
}

.updatespot_text {
    margin-right: 225px;
}

.updateaddress {
    border-radius: 5px;
        width: 100%;
        height: 42px;
        box-sizing: border-box;
        margin: 2px 0;
        padding: 10px 10px 10px 10px;
        font-family: "Monteserrat-Regular";
        border: 1px solid black;
}

.updateaddress:focus {
        outline: 1px solid black;
}

.updatecity {
border-radius: 5px;
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    margin: 2px 0;
    padding: 10px 10px 10px 10px;
    font-family: "Monteserrat-Regular";
    border: 1px solid black;
}

.updatecity:focus {
        outline: 1px solid black;
}

.updatestate {
border-radius: 5px;
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    margin: 2px 0;
    padding: 10px 10px 10px 10px;
    font-family: "Monteserrat-Regular";
    border: 1px solid black;
}

.updatestate:focus {
        outline: 1px solid black;
}

.updatecountry {
border-radius: 5px;
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    margin: 2px 0;
    padding: 10px 10px 10px 10px;
    font-family: "Monteserrat-Regular";
    border: 1px solid black;
}

.updatecountry:focus {
        outline: 1px solid black;
}

.updatelat {
border-radius: 5px;
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    margin: 2px 0;
    padding: 10px 10px 10px 10px;
    font-family: "Monteserrat-Regular";
    border: 1px solid black;
}

.updatelat:focus {
        outline: 1px solid black;
}

.updatelng {
border-radius: 5px;
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    margin: 2px 0;
    padding: 10px 10px 10px 10px;
    font-family: "Monteserrat-Regular";
    border: 1px solid black;
}

.updatelng:focus {
    outline: 1px solid black;
}

.updateplacename {
border-radius: 5px;
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    margin: 2px 0;
    padding: 10px 10px 10px 10px;
    font-family: "Monteserrat-Regular";
    border: 1px solid black;
}

.updateplacename:focus {
        outline: 1px solid black;
}

.updatedescription {
    border-radius: 5px;
        width: 100%;
        height: 42px;
        box-sizing: border-box;
        margin: 2px 0;
        padding: 10px 10px 10px 10px;
        font-family: "Monteserrat-Regular";
        border: 1px solid black;
        resize: none;
        overflow: hidden;
}

.updatedescription:focus {
        outline: 1px solid black;
}

.updatedescription:hover {
    overflow-y: scroll;
}

/* .updateimg {
    border-radius: 5px;
        width: 100%;
        height: 42px;
        box-sizing: border-box;
        margin: 2px 0;
        padding: 10px 10px 10px 10px;
        font-family: "Monteserrat-Regular";
        border: 1px solid black;
} */

.updateprice {
    border-radius: 5px;
        width: 100%;
        height: 42px;
        box-sizing: border-box;
        margin: 2px 0;
        padding: 10px 10px 10px 10px;
        font-family: "Monteserrat-Regular";
        border: 1px solid black;
}

.updateprice:focus {
        outline: 1px solid black;
}

.updatespotbutton {
    cursor: pointer;
        background-color: rgb(230, 30, 77);
        color: white;
        padding: 10px 10px 10px 10px;
        margin: 2px 0;
        width: 100%;
        height: 42px;
        border-radius: 5px;
        font-family: "Monteserrat-SemiBold";
        font-size: 12pt;
        border: none;
}

.updatespotbutton:hover {
    opacity: 0.85;
}

.updatespotbuttonmodal {
    cursor: pointer;
        background-color: rgb(230, 30, 77);
        color: white;
        padding: 10px 10px 10px 10px;
        margin: 2px 0;
        width: 120px;
        height: 42px;
        border-radius: 5px;
        font-family: "Monteserrat-SemiBold";
        font-size: 12pt;
        border: none;
}

/* .spottybutton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 120px;
} */