.spotcard {
    display: flex;
    flex-direction: row;
    padding: 5px 5px 5px 5px;
    width: 1256px;
    height: 800px;
    /* border: 1px red solid; */
}

.spotcityandstate {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 5px 20px;
    font-size: small;

}

.spotprice {
    display: flex;
    justify-content: flex-start;
    font-weight: 545;
    padding: 5px 5px 5px 20px;
}

.eachspot {
    padding: 10px 10px 10px 10px;
}

.spotsplashimg {
    border-radius: 30px;
    width: 250px;
    height: 250px;
}

/* .hi {
    border: 1px red solid;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-sizing: border-box;
} */
