

.spothome_container {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.spotcard {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    max-width: 1200px;

}

.spot_image_container {
    padding: 10px 10px 10px 10px;
}

.spot_image {
    display: flex;
    justify-content: center;
    border-radius: 15px;
    object-fit: cover;
    width: 260px;
    height: 260px;
    cursor: pointer;
}

.spot_image:hover {
    box-shadow: 0 7px 16px rgba(0,0,0,0.18);
}

.spot_detail_container {
    display: flex;
    /* flex-direction: column;
    align-items: flex-start; */
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    /* border: 2px solid blue; */
}

.city_state_container {
    display: flex;
    font-size: 14px;
}

.spot_star_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
}

.spot_price_container {
    display: flex;
    font-size: 14px;
    align-items: flex-start;
    padding: 5px 5px 5px 10px ;
    font-family: "Monteserrat-Regular";
}

.spot_price_span {
    font-family: "Monteserrat-SemiBold";

}

.footer_div {
    width: 955px;
    /* max-width: 955px; */
    display: flex;
}

.footer_maindiv {
    display: flex;
    justify-content: space-between;
}

.footer_container {
    display: flex;
    justify-content: center;
    border-top: 1px solid grey;
    background-color: white;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 80px 10px;

    position: fixed;
    font-family: "Monteserrat-Regular";
    font-size: 10pt;
    /* min-width: 955px; */
    /* max-width: 955px; */
}



.github_link {
    text-decoration: none;
    color: black;
    outline: none;
}

.linkedin_link {
    text-decoration: none;
    color: black;
    outline: none;
}

.email_link {
    text-decoration: none;
    color: black;
    outline: none;
}

.github_link:hover {
    text-decoration: underline;
}

.linkedin_link:hover {
    text-decoration: underline;
}

.email_link:hover {
    text-decoration: underline;
}