.spotcontainerdiv {
    display: flex;
    flex-direction: row;

    justify-content: center;
}
.spotcard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1024px;
    border: 3px yellow solid;
    padding: 5px 5px 5px 5px;
    /* border: 1px red solid; */
}

.spotcityandstate {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 5px 20px;
    font-size: small;

}

.spotprice {
    display: flex;
    justify-content: flex-start;
    font-weight: 545;
    padding: 5px 5px 5px 20px;
}

.eachspot {
    padding: 10px 10px 10px 10px;
}

.spotsplashimg {
    border-radius: 30px;
    width: 250px;
    height: 250px;
}

.hi {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-direction: column;
    box-sizing: border-box;
}
