.DemoUserButton {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    cursor: pointer;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 50px;
}

.DemoUserButton:hover {
    background-color: rgb(249, 248, 248);
}