.DemoUserButton {
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    padding: 5px 0 5px 0;
    margin: 3px 0;
    width: 100px;
    height: 50px;
}

.DemoUserButton:hover {
    background-color: ghostwhite;
}