.allreviews_container {
    width: 1090px;
}

.reviewcontainer {
    /* border-bottom: 1px black solid; */
    display: inline-flex;
    flex-direction: row;
}

.reviewnamedate {
 
    padding: "5px";

}

.reviewuserfirstname {
    font-family: "Monteserrat-SemiBold";
}

.reviewdate_color {

    color: grey;
     
}

.reviewstitlediv {
    font-family: "Monteserrat-SemiBold";
    font-size: 16.5pt;
}

.reviewcreate_button {
    padding-bottom: 15px;
}

.profilereview_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profilereview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0px 30px;
    font-size: 11pt;
    width: 450px;
}

.reviewtext_container {
    font-family: "Monteserrat-Regular";
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}