/* TODO Add site wide styles */

@font-face {
    font-family: "Monteserrat-Medium";
    src: url('../public/fonts/static/Montserrat-Medium.ttf');
}

@font-face {
    font-family: "Monteserrat-Regular";
    src: url('../public/fonts/static/Montserrat-Regular.ttf');
}

@font-face {
    font-family: "Monteserrat-SemiBold";
    src: url('../public/fonts/static/Montserrat-SemiBold.ttf');
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* border: 1px solid red; */
    font-family: "Monteserrat-Medium";

}


