.splash-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title_img_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.spotheadercontainer {
    display: flex;
    flex-direction: column;
    margin-right: 310px;
    padding: 0px 80px;
}

.detailspotname {
    font-family: "Monteserrat-SemiBold";
    font-size: 20pt;
    /* padding: 10px 10px 10px 10px; */
    margin-top: 25px;
    margin-bottom: 15px;
}

.spotavgstarrating {
    display: flex;
    align-items: center;
    font-size: 11pt;
    padding-bottom: 24px;
}


.spotimgdiv {
    display: flex;
    /* justify-content: center; */
    padding: 0px 80px 24px;
}

.spotimgdetail {
    width: 1080px;
    height: 545px;
    border-radius: 15px;
}

.spotimgdetail:hover {
    cursor: pointer;
    opacity: 0.85;
}

.descript_container {
    display: flex;
    flex-direction: column;
    padding: 32px 0px;
}

.descript_pricecontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;

}

.spotdescript {
    border-top: 1px solid rgb(222, 221, 221);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 85px;
    height: 100px;
    width: 700px;

}

.reviewprice_container {
    display: flex;
    justify-content: space-between;
}

.rightpricereview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    border: 1px solid rgb(222, 221, 221);
    border-radius: 10px;
    width: 300px;
    height: 300px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.18);
}

.avg_rating_div {
   font-size: 10pt;
   margin-top: 4px;
}

.review_container {
    border-top: 1px solid rgb(222, 221, 221);
    width: 700px;
    padding-top: 25px;
    margin-right: 390px;
    border-bottom: 1px solid rgb(222, 221, 221);
}