.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0px 80px;
    background-color: white;
    min-width: 1265px;
    max-width: 1265px;
}


.startbutton_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.startbutton_div {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.navbar_container {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgb(235, 235, 235);
    position: sticky;

    min-width: 1265px;
    top: 0;
}

.airbnbhome {
    display: flex;
    align-items: center;

    text-decoration: none;
}

.airbnbhome_text {
    color: rgb(206, 69, 72);
    font-family: "Monteserrat-SemiBold";
    font-size: 20pt;
}


.startbutton {
    background-color: white;
    border: 1px solid rgb(235, 235, 235);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 50px;
    padding: 12px 12px 12px 12px;
    cursor: pointer;
    height: 45px;
}

.startbutton:hover {
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.18);
}

.startmenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 220px;
    margin-left: 5px;
    background-color: white;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.18);
    z-index: 1;
}




