.profile_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 50px;
        height: 45px;
        cursor: pointer;
}

.startbutton_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.profile-dropdown {
display: flex;
    flex-direction: column;
    position: absolute;
    top: 7%;
    right: 7%;
    background-color: white;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.18);

}

.profile-username {
    text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        border: none;
        background-color: white;
        height: 50px;
        border-radius: 10px;
        margin-left: 5px;
    font-family: "Monteserrat-Regular";
}

.profile-username:hover {
    background-color: rgb(249, 248, 248);
}

.profile-email {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    border: none;
    background-color: white;
    height: 50px;
        border-top: 1px solid rgb(235, 235, 235);
        margin-left: 5px;
    font-family: "Monteserrat-Regular";
}

.profile-email:hover {
    background-color: rgb(249, 248, 248);
}

.profilelogout {
text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    border: none;
    background-color: white;
    height: 50px;
    border-radius: 10px;
    width: 100%;
    font-family: "Monteserrat-Regular";
}

.profilelogout:hover {
    background-color: rgb(249, 248, 248);
}